// Variables
// Font Scheme
$font-1: 'Montserrat', sans-serif;

// Color Scheme - Basic
$dark: #1B1F3B;
$gray: #D4D9E2;
$gray-light: #F4F4F4;
$white: #FFFFFF;

// Color Scheme - Advanced
$red: #EF476F;
$red-hover: darken($red, 5%);

$yellow: #FDE74C;
$yellow-hover: darken($yellow, 5%);

$purple: #623CEA;
$purple-hover: darken($purple, 5%);

// Other
$radius: 8px;