html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: "Montserrat", sans-serif;
  color: #1B1F3B; }

a {
  text-decoration: none;
  color: inherit; }

.btn {
  height: 60px;
  padding: 0 20px;
  background: transparent;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer; }
  .btn:hover {
    cursor: pointer; }

.btn--is-red, .btn--is-yellow, .btn--is-purple {
  color: #FFFFFF; }

.btn--is-red {
  background: #EF476F; }
  .btn--is-red:hover {
    background: #ed305d; }

.btn--is-yellow {
  background: #FDE74C; }
  .btn--is-yellow:hover {
    background: #fde433; }

.btn--is-purple {
  background: #623CEA; }
  .btn--is-purple:hover {
    background: #4f25e8; }

.btn--is-outline {
  border: 1px solid #1B1F3B; }
  .btn--is-outline:hover {
    background: #1B1F3B;
    color: #FFFFFF; }

.form__group, .form__label, .form__input, .form__message {
  width: 100%; }

.form__group {
  margin-bottom: 20px; }

.form__label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 30px;
  color: #D4D9E2; }

.form__input {
  height: 60px;
  border-radius: 8px;
  border: 1px solid #D4D9E2;
  padding: 0 10px; }

.form__message {
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  color: #D4D9E2; }

.form__group--is-wrong .form__input {
  border: 1px solid #EF476F; }

.form__group--is-wrong .form__message {
  color: #EF476F; }

.logo {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: #EF476F; }

.page-header {
  width: 100%; }
  .page-header__title {
    font-size: 24px; }
  .page-header__subtitle {
    font-size: 14px;
    margin-top: 10px;
    color: #D4D9E2; }

.default .navigation {
  height: 100vh;
  width: 140px;
  background: #F4F4F4;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0; }
  .default .navigation__profile {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background: #1B1F3B; }
  .default .navigation__menu {
    height: calc(100% - 160px);
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #D4D9E2;
    border-bottom: 1px solid #D4D9E2; }
    .default .navigation__menu__link {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px; }
      .default .navigation__menu__link:hover {
        color: #EF476F; }
    .default .navigation__menu__link--is-active {
      color: #EF476F; }

.default__content {
  width: calc(100% - 140px);
  margin: 0 0 0 140px;
  padding: 40px; }

.auth .navigation {
  height: 140px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px; }
  .auth .navigation__sign-in, .auth .navigation__sign-up {
    display: flex;
    align-items: center; }
    .auth .navigation__sign-in span, .auth .navigation__sign-up span {
      margin-right: 20px;
      font-size: 12px; }

.auth__content {
  min-height: 100vh;
  width: 100%; }
  .auth__content .header {
    margin-bottom: 40px;
    width: 100%; }
    .auth__content .header__title {
      font-size: 24px; }
    .auth__content .header__subtitle {
      font-size: 14px;
      color: #D4D9E2;
      margin-top: 10px; }
  .auth__content .sign-in, .auth__content .sign-up {
    min-height: 100vh;
    max-width: 540px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto; }
    .auth__content .sign-in__form, .auth__content .sign-up__form {
      width: 100%; }
