html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-family: "Montserrat", sans-serif;
  color: #1B1F3B; }

a {
  text-decoration: none;
  color: inherit; }

.btn {
  height: 60px;
  padding: 0 20px;
  background: transparent;
  border: none;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 12px;
  text-transform: uppercase;
  font-family: inherit;
  cursor: pointer; }
  .btn:hover {
    cursor: pointer; }

.btn--is-red, .btn--is-yellow, .btn--is-purple {
  color: #FFFFFF; }

.btn--is-red {
  background: #EF476F; }
  .btn--is-red:hover {
    background: #ed305d; }

.btn--is-yellow {
  background: #FDE74C; }
  .btn--is-yellow:hover {
    background: #fde433; }

.btn--is-purple {
  background: #623CEA; }
  .btn--is-purple:hover {
    background: #4f25e8; }

.btn--is-outline {
  border: 1px solid #1B1F3B; }
  .btn--is-outline:hover {
    background: #1B1F3B;
    color: #FFFFFF; }

.form__group, .form__label, .form__input, .form__message {
  width: 100%; }

.form__group {
  margin-bottom: 20px; }

.form__label {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 30px;
  color: #D4D9E2; }

.form__input {
  height: 60px;
  border-radius: 8px;
  border: 1px solid #D4D9E2;
  padding: 0 10px; }

.form__message {
  font-size: 12px;
  line-height: 16px;
  margin-top: 10px;
  color: #D4D9E2; }

.form__group--is-wrong .form__input {
  border: 1px solid #EF476F; }

.form__group--is-wrong .form__message {
  color: #EF476F; }

.logo {
  height: 60px;
  width: 60px;
  border-radius: 8px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  background: #EF476F; }

.page-header {
  width: 100%;
  margin-bottom: 20px; }
  .page-header__title {
    font-size: 24px; }
  .page-header__subtitle {
    font-size: 14px;
    margin-top: 10px;
    color: #D4D9E2; }

.spinner {
  width: 40px;
  height: 40px;
  margin: 200px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.profile__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }
  @media only screen and (max-width: 1400px) {
    .profile__form {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 800px) {
    .profile__form {
      grid-template-columns: 1fr; } }

.home .posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; }
  .home .posts .post {
    min-height: 220px;
    background: #F4F4F4;
    border-radius: 8px;
    display: grid;
    -ms-flex-line-pack: end;
    align-content: end;
    padding: 20px; }
    .home .posts .post__header__title {
      font-size: 14px;
      line-height: 18px; }
    .home .posts .post__header__subtitle {
      font-size: 12px;
      line-height: 16px;
      margin-top: 10px; }
  @media only screen and (max-width: 1400px) {
    .home .posts {
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 1000px) {
    .home .posts {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 750px) {
    .home .posts {
      grid-template-columns: repeat(1, 1fr); } }

.default .navigation {
  height: 100vh;
  width: 140px;
  background: #F4F4F4;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0; }
  .default .navigation__profile {
    height: 60px;
    width: 60px;
    border-radius: 8px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    background: #1B1F3B; }
  .default .navigation__menu {
    height: calc(100% - 160px);
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #D4D9E2;
    border-bottom: 1px solid #D4D9E2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .default .navigation__menu__item {
      height: 60px;
      width: 60px; }
      .default .navigation__menu__item:last-child {
        -ms-flex-item-align: end;
        align-self: flex-end; }
    .default .navigation__menu__link {
      height: 60px;
      width: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 18px; }
      .default .navigation__menu__link:hover {
        color: #EF476F; }
    .default .navigation__menu__link--is-active {
      color: #EF476F; }

.default .navigation--is-active {
  left: 0 !important; }

.default .navigation--is-active ~ .default__content {
  left: 140px;
  width: calc(100% - 140px); }

.default .navigation--is-active ~ .navigation-mobile-btn {
  margin-left: 160px; }

.default .navigation-mobile-btn {
  display: none;
  height: 60px;
  width: 40px;
  padding: 0;
  margin: 20px 20px 0 20px; }
  .default .navigation-mobile-btn__stripe {
    height: 5px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    display: block;
    background: #1B1F3B;
    margin-top: 6.4px; }
    .default .navigation-mobile-btn__stripe:nth-child(1), .default .navigation-mobile-btn__stripe:nth-child(2) {
      width: 100%; }
    .default .navigation-mobile-btn__stripe:nth-child(3) {
      width: 75%; }

.default__content {
  width: calc(100% - 140px);
  margin: 0 0 0 140px;
  padding: 40px;
  position: relative; }

@media only screen and (max-width: 640px) {
  .default .navigation {
    left: -140px; }
  .default .navigation-mobile-btn {
    display: block; }
  .default .default__content {
    margin: 0;
    width: 100%; } }

@media only screen and (max-width: 640px) {
  .default .default__content {
    padding: 20px; } }

.auth {
  padding: 140px 40px 0 40px; }
  .auth .navigation {
    height: 140px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px; }
    .auth .navigation__sign-in, .auth .navigation__sign-up {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .auth .navigation__sign-in span, .auth .navigation__sign-up span {
        margin-right: 20px;
        font-size: 12px; }
      @media only screen and (max-width: 460px) {
        .auth .navigation__sign-in span, .auth .navigation__sign-up span {
          display: none; } }
  .auth__content {
    min-height: calc(100vh - 140px);
    width: 100%; }
    .auth__content .sign-in, .auth__content .sign-up {
      min-height: inherit;
      max-width: 540px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 auto; }
      .auth__content .sign-in__form, .auth__content .sign-up__form {
        width: 100%; }
      .auth__content .sign-in .header, .auth__content .sign-up .header {
        margin-bottom: 40px;
        width: 100%; }
        .auth__content .sign-in .header__title, .auth__content .sign-up .header__title {
          font-size: 24px; }
        .auth__content .sign-in .header__subtitle, .auth__content .sign-up .header__subtitle {
          font-size: 14px;
          color: #D4D9E2;
          margin-top: 10px; }
  @media only screen and (max-width: 460px) {
    .auth {
      padding: 140px 20px 0 20px; }
      .auth .navigation {
        padding: 20px; }
      .auth__content .sign-in__form .btn, .auth__content .sign-up__form .btn {
        width: 100%; } }
